doctype html
html
  head
    meta(charset="utf-8")
    title
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/projects") Projects
    block body
    include foot